<% provide(:title, "sign in") %>

<section class="signInForm">
<h1 class="signInNote">welcome back to cinewise!</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "Your email goes here." %>
      <%= f.text_field :email %>

      <%= f.label :password, "And your password goes here."%>
      <%= f.password_field :password %>

      <%= f.submit "let's go bowlin\'", class: "button signIn" %>

    <% end %>

    <p>New user? <%= link_to "Sign up here", signup_path, class: "signupLink" %></p>

</section>