<% provide(:title, @title) %>

<section class="profileId">
      <div class="profileGravatar">
		<%= gravatar_for(@user, size: 80) %>
	</div>
	<div class="profileInfo">
		<h1><%= @user.name %></h1>
		<p><%= link_to "view my profile", @user %></p>
		<span><b>posts:</b> <%= @user.posts.count %></span>

	<div class="profileStats">
		<%= render 'shared/stats' %>
	</div>
</div>
</section>

<div>
    <h1 class="profilePosts"><%= @head %></h1>
    <% if @users.any? %>
     
        <%= render @users %>
      
      <%= will_paginate %>
    <% end %>
  </div>
