<% provide(:title, @user.name) %>
<section class="profileId">
	<div class="profileGravatar">
	<%= gravatar_for(@user, size: 150) %>
	<%= render 'follow_form' if signed_in? %>
</div>
<div class="profileInfo">
	<h1><%= @user.name %></h1> 
	<p class="favouriteFilm"><b>Favourite film:</b> <%= @user.favourite_film %></p>
<div class="profileStats">
<%= render 'shared/stats' %>


</div>
</div>

</section>



	<div class="posts">
		
		
	<% if @user.posts.any? %>
	<h1 class="profilePostsHeader">Posts (<%= @user.posts.count %>)</h1>
		

		
			<%= render @posts %>
		

		<div class="pagination">
      <%= will_paginate @posts %>
  </div>

		<% end %>
	</div>
