<header class="mainHeader">
	<%= link_to "cinewise", '#', class: "siteTitle" %>
	<nav class"siteNav">
	 	<ul>
	 		<li><%=link_to "about", about_path %></li>
	 		<li><%=link_to "reviews", '#' %></li>
	 		<li><%=link_to "features", '#' %></li>
	 		<li><%=link_to "sign in", '#' %></li>
	 	</ul>
	</nav>
</header>