<script type="text/javascript">
WebFontConfig = { fontdeck: { id: '37009' } };

(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();
</script>

<div class="floatingElement">
	
	<header>

		<h1 id="siteTitle"><%= link_to "cinewise", 'http://www.cinewise.co.uk/' %></h1>

		<nav>

			<ul>

				<li><%=link_to "about", about_path %></li>
	 			<li><%=link_to "reviews", 'http://www.cinewise.co.uk/reviews' %></li>
	 			<li><%=link_to "features", 'http://www.cinewise.co.uk/reviews' %></li>

				<% if signed_in? %>
				<li><%= link_to "member home", root_path %>
				<li><%= link_to "users", 		users_path %></li>
				<li><%= link_to "profile", current_user %></li>
				<li><%= link_to "settings", edit_user_path(current_user) %></li>
				<li><%= link_to "sign out", signout_path, method: "delete" %></li>
				
				</li>
				<% else %>
				<li><%= link_to "sign in", signin_path %></li>
				

				<% end %>
			</ul>

		</nav> <!-- Site navigation ends -->

	</header> <!-- Page title, login, and search ends -->

</div> <!-- floatingElement div ends -->

